$font-color: #2c3e50;
$font-red-color: #FF1712;
$font-blue-color: #0d6bd9;
$font-sp-color: #909399;
$font-b-weight: 600;
$font-l-weight: 300;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;
.com-lt-font{
  font-size: 20px;
  color: $font-color;
  font-family: $font-family;
  font-weight: $font-b-weight;
}
.com-bt-font{
  font-size: 18px;
  color: $font-color;
  font-family: $font-family;
  font-weight: $font-b-weight;
}
.com-t-font{
  color: $font-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: $font-b-weight;
}
.com-font{
  font-family: $font-family;
  font-size: 14px;
}
.com-sp-font{
  font-family: $font-family;
  font-size: 14px;
  font-weight: $font-l-weight;
  color: $font-sp-color;
}
.com-err-font{
  font-family: $font-family;
  font-size: 14px;
  color: $font-red-color;
}
.com-link-font{
  font-family: $font-family;
  font-size: 14px;
  color: $font-blue-color;
}
.com-require{
  color: $font-red-color;
  margin: 0 10px;
}