/**
 * transition
 * enter, enter-active, enter-to
 * leave, leave-active, leave-to
 * @type {Number}
 */
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .2s ease;
}
.fadeup-enter, .fadeup-leave-to{
  opacity: 0;
  transform: translateY(10px);
}
.fadeup-enter-active{
  transition: opacity .1s ease, transform .2s ease;
}
.fadeup-leave-active{
  transition: opacity .2s ease, transform .1s ease;
}

.fade-in-right-enter, .fade-in-right-leave-to{
  opacity: 0;
  transform: translateX(300px);
}
.fade-in-right-enter-active, .fade-in-right-leave-active{
  transition: opacity .3s ease, transform .3s ease;
}

.collap-enter, .collap-leave-to{
  max-height: 0;
}
.collap-enter-active{
  max-height: 999px;
  transition: max-height .5s ease-in;
}
.collap-leave-active {
  transition: max-height .3s ease-out;
}

/**
 * animation 动画
 * @type {[type]}
 */


.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/**
 * custom transtion for js hook
 * @type {[type]}
 */
.collapse-transition {
  transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
}
