.table {
  border: 1px solid #ddd;
  font-size: 14px;
  width: 100%;
  th,
  td {
    word-break: break-all;
    border: 1px solid #e2e2e2;
  }
  thead{
    background-color: #f2f2f2;
    th {
      font-weight: bold;
    }
  }
  tbody{
    color: #666;
  }
}
