.one-checkbox {
    *,
    *:before,
    *:after{
        box-sizing: border-box;
    }
    $h: 32px;
    $c: #4181e0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    &.one-checkbox-slider {
        ul{
            li{
                span{
                    margin-left: 42px;
                }
                // width: 60px;
            }
            i{
                width: 32px;
                background-color: #ddd;
                overflow: hidden;
                border-radius: 20px;
                &:after{
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    background-color: #fff;
                    left: 1px;
                    top: 1px;
                    transition: left .1s ease;
                }
            }
            .on {
                i{
                    &:after{
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 2px;
                        background-color: #fff;
                        left: 13px;
                        top: 1px;
                        border: none;
                        border-radius: 16px;
                        transform: none;
                    }
                }
            }
        }
    }
    ul {
        li {
            position: relative;
            height: $h;
            min-height: 20px;
            min-width: 20px;
            display: block;
            float: left;
            margin-right: 20px;
            line-height: $h;
            list-style: none;
            cursor: pointer;
            font-size: 15px;
            span{
                margin-left: 30px;
                user-select: none;
            }
        }
        .on {
            i {
                $w: 6px;
                $d: #fff;
                background-color: $c;
                border: 1px solid $c;
                &:after {
                    position: absolute;
                    content: '';
                    width: $w;
                    height: $w*2;
                    transform: rotate(45deg);
                    border-right: 2px solid $d;
                    border-bottom: 2px solid $d;
                    left: $w;
                    top: 2px;
                }
            }
        }
        i {
            transition: background .2s ease;
            position: absolute;
            background-color: #fff;
            left: 0;
            transform: translateY(-50%);
            top: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
    }
    &.one-checkbox-ui-button {
        li {
            padding: 0 10px;
            border-radius: 3px;
            margin-right: 10px;
            &.on {
                background-color: $c;
                color: #fff;
            }
            span{
                margin: 0;
            }
            i {
                display: none;
            }
        }
    }
}

.one-checkbox-disable {
    .on {
        i{
            background-color: #999;
            border-color: #999;
        }
    }
}
