.one-checkbox {
    $h: 38px;
    display: block;
    position: relative;
    *{
        box-sizing: border-box;
    }
    ul {
        li {
            display: block;
            list-style: none;
            float: left;
            height: $h;
            min-height: 20px;
            min-width: 20px;
            margin-right: 20px;
            position: relative;
            cursor: pointer;
            span{
                margin-left: 30px;
                user-select: none;
            }
        }
        .on {
            i {
                $w: 6px;
                $c: #4181e0;
                $d: #fff;
                background-color: $c;
                border: 1px solid $c;
                &:after {
                    position: absolute;
                    content: '';
                    width: $w;
                    height: $w*2;
                    transform: rotate(45deg);
                    border-right: 2px solid $d;
                    border-bottom: 2px solid $d;
                    left: $w;
                    top: 2px;
                }
            }
        }
        i {
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            top: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
    }
}

.one-checkbox-disable {
    .on {
        i{
            background-color: #999;
            border-color: #999;
        }
    }
}
